<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="th.server" version="2.5">

	<display-name>files</display-name>
	<servlet>
		<description></description>
		<display-name>FileServlet</display-name>
		<servlet-name>FileServlet</servlet-name>
		<servlet-class>hu.th.dynorgchart.servlet.FileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>RootsServlet</display-name>
		<servlet-name>RootsServlet</servlet-name>
		<servlet-class>hu.th.dynorgchart.servlet.RootsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RootsServlet</servlet-name>
		<url-pattern>/data/getRoots</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>PeopleListServlet</display-name>
		<servlet-name>PeopleListServlet</servlet-name>
		<servlet-class>hu.th.dynorgchart.servlet.PeopleListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PeopleListServlet</servlet-name>
		<url-pattern>/data/getPeopleList</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>hu.th.dynorgchart.data.DataInitializer</listener-class>
	</listener>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

</web-app>
